<div class="modal fade" id="fee-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @event.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ticket of the event is <%= @event.ticket_fee.to_f %></p>
	<% if current_user.gender.eql?("Female") %>
	  <p> Congratulations!!! You are eligble 5% discount, Your Ticket fee is <%= (@event.ticket_fee.to_f*95)/100 %> </p>
	<% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to "attend", attend_event_path(@event),  method: :post, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
